.card {
  margin: 20px;
  width: 18rem;
  background-color: transparent;
  border: 3px solid #FFF;
  color: #0A9396;
  -webkit-box-shadow: 2px 2px 6px 3px rgba(0,0,0,0.12); 
  box-shadow: 2px 2px 6px 3px rgba(0,0,0,0.12);

  transition: all 0.2s;
}

.card-title {
  margin-bottom: 15px;
  color: #005F73;

  transition: all 0.2s;
}

.card-body a:hover {
  text-decoration: none;
  color: #FFF;
}

.card-title:hover {
  color: #FFF;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}
#closeIcon button {
  color: #BB3E03;
  background-color: transparent;
  padding: 5px;
  border: none;
  font-size: 1.6em;
  line-height: 14px;

  transition: all 0.2s;
}
#closeIcon button:hover {
  color: #EE9B00;
}
.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
  color: #0A9396;
}
.card:hover {
  margin-top: 16px;
}